body {
    --primary-color: #ED2553;
    --primary-color-light: #ffbecc;
    --primary-bg: #ffffff;
    --primary-text: #1d1d1d;
    --secondary-bg: rgba(246, 244, 241, 1);
    --secondary-bg-hover: rgb(222, 220, 216);
    --secondary-text: rgba(136, 139, 142, 1);
    --inline-bg: rgb(248, 248, 248);
    line-height: unset;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

button {
    outline: none;
}
