body {
    --primary-color: #ED2553;
    --primary-color-light: #ffbecc;
    --primary-bg: #ffffff;
    --primary-text: rgba(0, 0, 0, 0.87);
    --secondary-bg: rgba(246, 244, 241, 1);
    --secondary-bg-hover: rgba(0, 0, 0, 0.1);
    --secondary-text: rgba(0, 0, 0, 0.54);
    --mu-bg: #fafafa;
    --inline-bg: rgb(248, 248, 248);
    line-height: unset;
    background-color: var(--primary-bg);
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

button {
    outline: none;
}
