@font-face {
    font-family: 'SwankyandMooMoo';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/SwankyandMooMoo-Regular.ttf') format('truetype');
}
body {
    --primary-color: #ED2553;
    --primary-color-light: #ffbecc;
    --primary-bg: #ffffff;
    --primary-text: rgba(0, 0, 0, 0.87);
    --secondary-bg: rgba(244, 245, 247, 1);
    --secondary-bg-hover: rgba(0, 0, 0, 0.1);
    --secondary-text: rgba(66, 82, 110, 1);
    --mu-bg: #fafafa;
    --inline-bg: rgb(248, 248, 248);
    line-height: unset;
    background-color: var(--primary-bg);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

button {
    outline: none;
}
